@model Minesweeper.Controllers.HomeController

@{
    ViewData["Title"] = "Mi's Minesweeper Game";
}

<div class="text-center">
    @{
        for (int i = 0; i < Model.Board.GetLength(0); i++)
        {
            <div class="row">
                @for (int j = 0; j < Model.Board.GetLength(1); j++)
                {
                    string value = (i * 12 + j).ToString();
                    <button class="col-1 btn btn-outline-primary cell" id=@value value=@value>@Model.Board[i, j].Value</button>
                }
            </div>
        }
    }
</div>
<div class="row">
    <button class="btn btn-warning" id="restart-game">Restart</button>
</div>

@section scripts{
    <script>
        const NumberOfColumn = 12;
        const NumberOfRow = 17;

        class Minesweeper{
            constructor() {
                this.cell = $(".cell");
                this.restart = $("#restart-game")
                this.isFirst = true;
            }

            init() {
                let self = this;

                this.cell.on("click", function () {
                    self.updateCell(this);
                });

                this.restart.on("click", function () {
                    window.location.reload(true);
                });
            }

            renewBoard(impactedCellList, mineValues) {
                for (var i = 0; i < impactedCellList.length; i++) {
                    let id = "#" + impactedCellList[i];
                    $(id).text(mineValues[i]);
                    $(id)[0].disabled = true;
                    $(id).removeClass("btn-outline-primary");
                    $(id).addClass("btn-secondary");
                }
            }

            makeAllButtonUnclickable(selectedMines) {
                for (var i = 0; i < this.cell.length; i++) {
                    this.cell[i].disabled = true;
                }
                for (var i = 0; i < selectedMines.length; i++) {
                    let id = "#" + selectedMines.at(i);
                    $(id).text("X");
                    $(id).addClass("btn-danger");
                    $(id).removeClass("btn-outline-primary btn-secondary");
                }
            }

            updateCell(buttonPointer) {
                let self = this;

                $.ajax({
                    url: "@Url.Action("UpdateTable", "Home")",
                    type: "GET",
                    data: { "data": $(buttonPointer).val(), "isFirst": self.isFirst},
                    success: function (data) {
                        let json = JSON.parse(data);
                        if (json.Status) {
                            self.makeAllButtonUnclickable(json.SelectedMines);
                        }
                        else {
                            self.renewBoard(json.ImpactedCells, json.CorrespondingMines);
                        }
                    },
                    complete: function () {
                        self.isFirst = false;
                    },
                    error: function (e) {

                    }
                });
            }
        }

        $(document).ready(function () {
            let minesweeper = new Minesweeper();
            minesweeper.init();
        })
    </script>
}

