@model Minesweeper.Controllers.HomeController

@{
    ViewData["Title"] = "Mi's Minesweeper Game";
}

<div class="text-center">
    @{
        for (int i = 0; i < Model.Minesweeper.Board.GetLength(0); i++)
        {
            <div class="row">
                @for (int j = 0; j < Model.Minesweeper.Board.GetLength(1); j++)
                {
                    string value = (i * 12 + j).ToString();
                    <button class="col-1 btn btn-outline-primary unopen cell" id=@value value=@value>@Model.Minesweeper.Board[i, j].Value</button>
                }
            </div>
        }
    }
</div>

@section scripts{
    <script>
        const NumberOfColumn = 12;
        const NumberOfRow = 17;

        class Minesweeper{
            constructor() {
                this.unopenCell = $(".unopen");
                this.openedCell = $(".opened");
                this.cell = $(".cell");

            }

            init() {
                let self = this;

                this.cell.on("click", function () {
                    self.updateCell(this);
                });
            }

            renewBoard(impactedCellList, mineValues) {
                for (var i = 0; i < impactedCellList.length; i++) {
                    let id = "#" + impactedCellList[i];
                    if (mineValues[i] != "0")
                        $(id).text(mineValues[i]);
                    $(id)[0].disabled = true;
                    $(id).removeClass("unopen btn-outline-primary");
                    $(id).addClass("opened btn-secondary");
                }
            }

            makeAllButtonUnclickable() {
                for (var i = 0; i < this.cell.length; i++) {
                    this.cell[i].disabled = true;
                }
                this.cell.removeClass("btn-outline-primary btn-secondary");
                this.cell.addClass("btn-danger");
            }

            updateCell(buttonPointer) {
                let self = this;

                $.ajax({
                    url: "@Url.Action("UpdateTable", "Home")",
                    type: "GET",
                    data: { "data": $(buttonPointer).val() },
                    beforeSend: function () {
                        debugger;
                    },
                    success: function (data) {
                        let json = JSON.parse(data);
                        if (json.Status) {
                            //TODO: End the game
                            self.makeAllButtonUnclickable();
                        }
                        else {
                            self.renewBoard(json.ImpactedCells, json.CorrespondingMines);
                        }
                    },
                    complete: function () {

                    },
                    error: function (e) {

                    }
                });
            }
        }

        $(document).ready(function () {
            let minesweeper = new Minesweeper();
            minesweeper.init();
        })
    </script>
}

